<nav class="navbar navbar-expand-lg bg-orange navbar-light py-3 ">
  <div class="container">
    <h1><a href="/" class="navbar-brand text-dark">YourPlate</a></h1>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
    <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to  index_path, class: "nav-link text-light" do %>
        <i class="bi bi-house fa-2x"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cart_path(@cart), class: "nav-link text-light" do %>
            <span class="text-light"><i class="bi bi-cart fa-2x"></i><%= cart_count_items %></span>
        <% end %>
      </li>
      <% if current_user && current_user.profile %>
        <li class="nav-item">
          <%= link_to edit_profile_path(current_user.profile), class: "nav-link text-light" do %>
            <i class="bi bi-person fa-2x"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
      <ul class="navbar-nav ms-auto text-light mt-1">
      <li class="nav-item"><%= link_to "Our Story", about_path, class: "nav-link text-light "%></li>
      <li class="nav-item">
        <%= link_to "Sell food", new_food_item_path, class: "nav-link text-light"%>
      </li>
      <li class="nav-item">
    <% if user_signed_in? %>
      <%= link_to "logout", logout_path, class: "nav-link text-light", method: :delete%>
      </li>
        <li class="nav-item">
          <%= link_to "Dashboard", food_items_path, class: 'nav-link text-light'%>
        </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", login_path(user_type: "returning_user"), class: "nav-link text-light" %>
      </li>
      <li class="nav-item">
        <%= link_to "Buy food", sign_up_path(user_type: "buyer"), class: "nav-link text-light"%>
      </li>
    <% end %>
      </ul>
    </div>

  </div>
</nav>


