<nav class="navbar navbar-expand-lg bg-warning navbar-light py-3">
  <div class="container">
    <h1><a href="/" class="navbar-brand">YourPlate</a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <%= link_to  index_path, class: "nav-link" do %>
        <i class="fas fa-home fa-2x"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cart_path(@cart), class: "nav-link" do %>
          <% if cart_has_item %>
            <span><i class="fas fa-shopping-cart fa-2x"></i><%= cart_has_more_than_one %></span>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Sell food", new_food_item_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
    <% if user_signed_in? %>
      <%= link_to "logout", logout_path, class: "nav-link", method: :delete%>
      </li>
    <% if current_user && current_user.profile %>
      <li class="nav-item">
        <%= link_to edit_profile_path(current_user.profile), class: "nav-link" do %>
          <i class="fas fa-user-circle fa-2x"></i>
        <% end %>
      </li>
      <% end %>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", login_path(user_type: "returning_user"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Buy food", sign_up_path(user_type: "buyer"), class: "nav-link"%>
      </li>
    <% end %>
      </ul>
    </div>

  </div>
</nav>


