<section class="bg-light text-dark">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md my-5">
        <ul class="list-group list-group-flush ">
        <li class="list-group-item">Name: <%= @food_item.name %></li>
        <li class="list-group-item">Description: <%= @food_item.description %></li>
        <li class="list-group-item">Availability: <%= @food_item.availability %></li>
        <li class="list-group-item">Food type: <%= @food_item.food_type %></li>
        <li class="list-group-item">Price: <%= number_to_currency(@food_item.price) %></li>
        <li class="list-group-item">Seller: <%= @food_item.profile.username %></li>
        <li class="list-group-item">Sold quantity: <%= @food_item.sales_quantity %></li>
      </ul>
      <%# if the current user and current_user profile the same as currernt user profile id == @food_item seller id , current user will have a acees to the edit button %>
        <% if current_user && current_user.profile && (current_user.profile.id == @food_item.seller.id) %>
          <%= link_to 'Edit', edit_food_item_path(@food_item), class: "btn btn-outline-primary mt-3" %> 
          <%= link_to 'Back', food_items_path, class: "btn btn-success mt-3"%>
        <% else %>
          <div class="mt-3">
            <%= button_to "Add to Cart", line_items_path(food_item_id: @food_item), class: "btn btn-warning mb-3" %>
          </div>
        <% end %> 
      </div>
      <div class="col-md">
      <% if @food_item.images.attached? %>
        <%= image_tag @food_item.images.first, class: "show-img mx-auto" %>
      <% end %>    
      </div>
    </div>
  </div>
</section>
<section class="bg-light  mb-5">
  <div class="container mb-5">
  <h2 class="text-center">Reviews</h2>
  <hr class="text-center bg-warning">
    <%= render @food_item.comments %>
    <hr>
    <%= render "comments/form" %>
  </div>
</section>

